body{
	margin:0;
	padding: 0;
	background-image: url(auto.jpg);
	background-size: cover;
}
header{
	width: 100%;
	text-align: center;
}
ul{
	list-style: none;
	text-align: center;
	padding: 0;
}
li{
	display: inline;
}

.li{
text-decoration: none;
	color: white;
	font-size: 3.5em;
	margin-left: 30px;
	letter-spacing: 0.08em;
}
.li:hover{
	animation:animacija 1s;
}
.listlink1{
	margin-left: 0;
}
.logo{
	width: 200px;
}
.fb-share-button{
	position:fixed;
	padding-top:1200px;
	padding-left:1800px;
}
.zaglavlje{
	color: white;
	font-size: 4.2em;
	letter-spacing: 0.05em;
	text-align: center;
	padding: 0;
	animation:zaglavljeanim 1.5s;
}
.ponuda{
	text-decoration: underline;
	color:white;
	font-size: 2.6em;
	font-weight: 100;
	margin-left: 2%;
}
.auta{
	list-style: none;
	padding:0;
	margin-left: 2%;
	text-align: left;
}
.auta li{
	display: block;
	list-style: none;
	margin-top:20px;
}
.auta a{
	color:white;
	font-size: 2em;
	text-decoration: none;
}
.auta a:hover{
	color:#B8860B;
}
.auta a:active{
	color:green;
}
span{
   color:#B8860B;
   border-bottom: 3px solid #B8860B;
   border-radius: 10px;
   font-weight: 3000;
}
.dugme{
	width: 100%;
	text-align: center;
}
.dugme button{	
	background:none;
	cursor: pointer;
	color:white;
	font-size: 2.5em;
	border:none;
	border-bottom:3px solid #B8860B;
	border-radius: 8px;
	margin-top: 280px;
}
.dugme2 button{
	background:none;
	cursor: pointer;
	color:white;
	font-size: 2.5em;
	border:3px solid #B8860B;
	border-bottom:3px solid #B8860B;
	border-radius: 8px;
	margin-left: 2%;
	margin-top: 50px;
}
button:hover{
	color:#B8860B;
}
p{
	color: white;
	text-align: center;
	font-size: 2em;
}
.forma{
    margin-top: 50px;
	text-align: center;
	background-color: white;
	width: 82%;
	margin:auto;
	padding-top: 20px;
}

input{
	margin-bottom: 25px;
	width: 20%;
	background:transparent;
	border:none;
	outline: none;
	border-bottom:1px solid #B8860B;
	color:black;
	font-size: 1.3em;
}
.send{
	font-size: 2em;
	cursor: pointer;
	border:5px solid #B8860B;
	font-weight: 700;
}
.send:hover{
	color:#B8860B;
}
label{
	color: #B8860B;
	font-size: 1.5em;
	font-weight: 700;
}

@keyframes animacija{
	0%{color:black;}
	25%{color:darkgrey;}
	50%{color:lightgrey;}
	75%{color:white;}
}
@keyframes zaglavljeanim{
	0%{opacity: 0.25;}
	25%{opacity: 0.5;}
	50%{opacity: 0.75;}
	75%{opacity: 1;}
}
@media screen and (max-width: 1415px){
.dugme button{	
	margin-top: 60px;
}
@media screen and (max-width: 830px){
nav ul li{
	display: block;
}
.dugme2 button{
	margin-bottom: 25px;
}
.dugme2{
	text-align: center;
}
body{text-align: center;}
.auta{
	text-align: center;
}
}
